#loginBody{
    background-image: url(../img/gymBanner.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

form{
    margin:auto;
    margin-top: 50%;
    background-color: rgba(255,255,255,0.8);
    padding: 50px;
    width: 60vh;
    border-radius: 8px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.7);
}
form>h1{
    color: black;
}
form>input{
    margin: 10px;
    border: 1px solid gray;
    padding: 3px;
    font-size: 22px;
    border-radius: 5px;
    transition: all 0.3s;
}
::placeholder{
    color: gray;
}
form>input:focus{
    border: 2px solid #FBA919;
}

#btnIngresar{
    width: 20vh;
    background-color: white;
    color: gray;
    width: 20vh;
    border:1px solid #FBA919;
}
#btnIngresar:hover{
    background-color: #FBA919;
    color: white;
}
p>a{
    color: #FBA919;
    font-size: 14px;
    text-align: left;
}

@media(min-width:480px) {
    form{
        margin-top: 100%;
    }
}
@media(min-width:1024px) {
     form{
        margin-top: 50%;
    }
}
